
.metrologia-logo-banner {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 25%;
}

.metrologia-event-title {
    position: absolute;
    top: 46%;
    left: 10%;
}

.metrologia-event-subtitle {
    position: absolute;
    top: 55%;
    left: 10%;
}

.metrologia-absolute-register-button {
    position: absolute;
    top: 82%;
    left: 40%;
}

.metrologia-register-button {
    border-width: 2px;
    border-color: #c9efff;
    border-style: solid;
    background-color: #c9efff !important;
    color: #003b7a !important;
    font-weight: bold;
    position: relative;
    width: fit-content;
    top: 200px;
}

.metrologia-register-button:hover {
    animation: pulse;
    animation-duration: 1s;
}

.metrologia-responsive-banner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}


.metrologia-speakers {
    background-color: #E0F0FF;
}

.metrologia_footer_img {
    background-color: #0b60c5;
    background-size: cover;
}

.metrologia-footer-separator {
    border-top: 1px solid;
    width: 100%;
}

.metrologia-copyright {
    background-color: #E0F0FF;
    color: #0b60c5 !important;
}

.metrologia-icons-footer {
    font-size: 28px;
    padding: 10px 10px;
}

.metrologia-icons-footer:hover {
    color: #003b7a !important;
}

.metrologia-newsletter {
    background-color: #E0F0FF;
}

.metrologia-form-control {
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #0B60C5;
}

.metrologia-blue {
    color: #0b60c5 !important;
}

.metrologia-lightblue {
    color: #E0F0FF !important;
}

.metrologia-iframe {
    border: 1px solid rgb(251, 130, 53);
}

.metrologia-planes {
    text-align: center;
    padding-top: 30px;
    background-color: white;
    border-bottom: 3px solid rgb(251, 130, 53);
}

.cuadro-planes {
    height: 100px;
    margin: 20px;
}

.metrologia-cat-part {
    background: -webkit-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
    background: -o-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
    background: -moz-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
    background: repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
}

.metrologia-timer {
    background-image: url("/df_website_front/static/src/img/metrologia-contador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.metrologia-timer-item {
    position: relative;
    height: 80px;
    width: 4rem;
    background-color: #FB8235;
}

.metrologia-timer-progress {
    position: absolute;
    /*height: 80px;*/
    background-color: #E0F0FF;
    left: 0;
    right: 0;
}

.metrologia-convo {
    background-repeat: no-repeat;
    background-size: cover;
}

.metrologia-count-title p span {
    font-size: calc(1.375rem + 1.5vw) !important;
    line-height: 1.2 !important;
    font-family: 'Exo2-Regular' !important;
}

.metrologia-count-subtitle p span {
    font-size: calc(1.3rem + 0.6vw) !important;
    line-height: 1.2 !important;
    font-family: 'Exo2-Regular' !important;
}

@media only screen and (max-width: 520px) {
    .metrologia-cat-part {
        background: -webkit-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, rgb(224, 240, 255) 50.1%, rgb(224, 240, 255) 100%);
        background: -o-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, rgb(224, 240, 255) 50.1%, rgb(224, 240, 255) 100%);
        background: -moz-repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, rgb(224, 240, 255) 50.1%, rgb(224, 240, 255) 100%);
        background: repeating-linear-gradient(rgb(224, 240, 255), rgb(224, 240, 255) 49.9%, rgb(224, 240, 255) 50.1%, rgb(224, 240, 255) 100%);
    }

    #metrologia-logo-img {
        display: none;
    }

    .metrologia-logo-banner {
        width: 85%;
    }
}